<ion-view view-title="Day ">
  <ion-content>
    <!--Top header including text box and left/right navigation-->
      <div class="row">
        <div class="col col-offset-25 col-25 text-right">
            <button class="button button-block ion-chevron-left button-positive button-small">
            </button>
        </div>
        <div class="col col-25 text-left">
            <button class="button button-block ion-chevron-right button-positive button-small">
            </button> 
        </div>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="House #" class="text-center">
        </label>
      </div> 
      <div class="row">
        <div class="col col-50">
            <button class="button button-block button-positive" style="padding-top: 50px; padding-bottom:  50px;">NO</button>
        </div>
        <div class="col col-50">
            <button class="button button-block button-positive" style="padding-top: 50px; padding-bottom:  50px;">YES</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
            <button class="button button-block button-positive">PROBLEM</button>
        </div>
        <div class="col col-50">
            <button class="button button-block button-positive">SIGNUP</button>
        </div>
      </div>
  </ion-content>
</ion-view>
